.content-wrapper {
    padding: 0 $padding-wrapper 0 $padding-wrapper;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    // overflow-y: auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: $gap-default;
}


.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}