.books-of-month,
.recently-added {
  
    background-color:$color-bg-body;
    padding: 40px;
    position: relative;
    top: -60px;
    padding-top: 60px;
    width: 90%;
    margin: 0 auto;
;}

.books-of-month h2{
    margin-top: -30px; 
    margin-bottom: 30px;
    font-size: larger;
}

.recently-added h2 {
    margin-bottom: 30px;
    font-size: larger;
}


.book-list {
    display: flex; 
    gap: $gap-default;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}