.main-footer {
    
    background-color: #e5e5e5;
    padding: 20px 0; 
    width: 100%; 
    flex: 0 0 auto;
   
}


.main-footer .content-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    
}

.main-footer .footer-content p {
    font-size: 0.8rem;
    color: #555; 
    margin: 0;
}

.main-footer .footer-content p a {
    font-weight: bold;
    text-decoration: underline;
}


.footer-content .right-icon {
    width: 30px;
    height: 30px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-content .right-icon::before {
    
    content: "✉️"; 
    color: #fff;
    font-size: 0.9rem;
}