@use '../styles/abstracts/variables' as *;

.cartSection {
  padding: 60px 0 100px 0;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.cartItemImage {
  margin-right: 20px;
  border-radius: 4px;
  width: 80px;
}

.cartItemDetails {
  flex-grow: 1;
}

.cartItemTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.cartItemPrice {
  color: $color-accent-price;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: right;
}

.removeIcon {
  font-size: 0.8rem;
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 30px;

  .totalPrice {
    color: $color-accent-price;
  }
}

.cartActions {
  display: flex;
  justify-content: space-between;

}

.emptyCart{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.guestMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  text-align: center;
  gap: 20px;

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  p {
    color: $color-text-secondary;
    margin-bottom: 20px;
  }

  .btnLoginRedirect {
    background-color: $color-accent-btn-bg;
    color: $color-white;
    padding: 15px 40px;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
    transition: opacity 0.3s;
  }
}
