@use '../styles/abstracts/variables' as *;

.bookCard {
  display: flex;
  background-color: $color-bg-body;
  flex-direction: column;
  width: 130px;
  height: 340px;
  flex-shrink: 0;
  overflow: hidden;
}

.bookCover {
  width: 100%;
  height: 180px;
  object-fit: contain;
  display: block;
  flex-shrink: 0;
}

.bookInfo {
  padding: 15px 5px 10px;
  padding-right: 60px;
  position: relative;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
}

.bookTitle {
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bookPrice {
  font-size: 1rem;
  font-weight: 600;
  color: $color-accent-price;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 5px;
}

.bookAuthor {
  font-size: 0.85rem;
  color: $color-text-secondary;
  margin: 5px 0 0;
  display: block;
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}