@use '../styles/abstracts/variables' as *;

.mainFooter {
  background-color: $color-bg-footer;
  padding: 20px 0;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1000;
  position: fixed;
  bottom: 0;
}

.footerContent p {
  font-size: 0.8rem;
  color: $color-text-footer;
  margin: 0;

  & a {
    font-weight: bold;
    text-decoration: underline;
  }
}