@use '../styles/abstracts/variables' as *;

.heroSection {
  display: flex;
  background-color: $color-bg-hero;
  padding: 40px 60px 40px 60px;
  flex-wrap: wrap;
}

.heroSectionContent {
  display: flex;
  padding-bottom: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $gap-default;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  flex: 1;

  & h1 {
    font-size: 2.5rem;
    line-height: 1.15;
    padding-bottom: 40px;
  }

  & p {
    font-size: 1rem;
    line-height: 1.7;
    color: $color-text-medium;
  }
}

.heroImageContainer {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

.heroImage {
  height: 350px;
}
