.book-detail-section {
    display: flex;
    padding: 60px; 
    margin-left: 100px;
    flex-wrap: wrap;
}

.detail-image-container {
    /* flex: 1; 
    display: flex; */
    justify-content: center; 
    align-items: center; 
}

.detail-book-cover {
    width: 50%;
}

.detail-info-block {
    flex: 1; 
}

.detail-info-block h1 {
    font-size: 2.5rem; 
    font-weight: 700;
    display: inline-block;
}

.detail-author {
    font-size: 0.9rem;
    color: #666;
    margin: 0 0 25px 0;

}

.author-name {
    font-weight: 700; 
}

.detail-price {
    color: #d4a574; 
    font-size: 2rem; 
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}

.detail-description {
    font-size: 0.9rem;
    color: #4a4a4a;
    margin-bottom: 30px;
} 

.detail-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 14px 40px; 
    width: auto; 
    font-weight: 600; 
}

.detail-btn::before {
    content: "🛒";
}
