.register-section {
    display: flex; 
    flex-direction: row; 
    gap: 100px; 
    padding: 40px; 
    flex-wrap: wrap;
    max-width: 70%; 
    margin: 0 auto;
}

.register-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.register-form-container {
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    width: 100%; 
    flex: 1; 
}

.form-actions--register .btn-register {
    width: 50%; 
    padding: 15px 30px;
}

.register-image {
    width: 20%;
    flex: 1; 
}
