.register-section {
    display: grid; 
    grid-template-columns: 400px 1fr; 
    gap: 200px; 
    padding: 80px 0; 
    margin-left: 100px;
}

.register-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 5px 0;
}


.register-form .form-subsection-title {
    margin: 20px 0 5px 0;
}


.form-actions--register {
    margin-top: 40px;
    padding-top: 0;
    justify-content: flex-start; 
}

.form-actions--register .btn-register {
    width: 100%; 
    max-width: 300px; 
    font-weight: normal;
    padding: 15px 30px;
}

