.cart-section {
    padding: 60px 0;
    width: 80%; 
    margin: 0 auto; 
}

.cart-section h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
    font-weight: 700; 
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.cart-item-image {
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
}

.cart-item-details {
    flex-grow: 1; 
}

.cart-item-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.cart-item-author {
    font-size: 0.9rem;
    color: #666;
    font-style: italic;
}

.cart-item-price {
    color: #d4a574; 
    font-size: 1.4rem;
    font-weight: bold; 
    text-align: right; 
}

.remove-icon {
    font-size: 0.8rem;
}

.cart-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}


.cart-total .total-price {
    color: #d4a574; 
}


.cart-actions {
   display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    margin-bottom: 20px; 
}

.btn {
    
    padding: 10px 20px; 
    font-size: 0.9rem;
    border-radius: 4px;
    font-weight: 600;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}


.btn-outline {
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc; 
}
