body {
    font-family: 'Arial', sans-serif; 
    background-color: #ffffff; 
    color: #333;
    line-height: 1.6;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}


h1 {
    font-family: 'Merriweather Bold', serif; 
    color: #1a1a1a;
}

h2 {
    color: #1a1a1a;
    font-weight: 400;
}

p {
    color: #4a4a4a;
    line-height: 1.7;
}
